<fieldset><legend>Create Post</legend>
<%= form_for @post do |f| %>
<%= f.label :blogger_id %>
<%= f.collection_select :blogger_id, Blogger.all, :id, :name %><br>
<%= f.label :destination_id %>
<%= f.collection_select :destination_id, Destination.all, :id, :name %><br>
<%= f.label :title %>
<%= f.text_field :title %><br>
<div><%= f.label :content %>
<%= f.text_area(:content, cols: 30, rows: 10) %></div>
<%= f.submit "Create Post" %>
<% end%>
</fieldset>